:root {
  /* Color */
  --color-text: rgba(0, 0, 0, 0.52);
  --color-background: #cedaf3;
  /* --color-container: #e6ecf9; */
  --color-container: white;
  --color-primary: #a7ecfa;
  /* --color-secondary: rgb(201, 180, 255); */
  /* --color-primary-light: rgb(242, 242, 252); */
  /* --color-hover: rgb(226, 226, 234); */
  --color-disable: rgb(202, 202, 202);
  --color-active: #5d5d5d;
  --color-positive: rgb(125, 234, 192);

  /* Decoration */
  --container-boxshadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  --container-light-boxshadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  --container-inset-boxshadow: rgba(0, 0, 0, 0.06) 0px 2px 8px 0px inset;

  /* Font */
  --font-size-headline-5: 24pt;
  --font-size-headline-6: 20pt;
  --font-size-subtitle-1: 16pt;
  --font-size-subtitle-2: 14pt;
  --font-size-body-1: 16pt;
  --font-size-body-2: 14pt;
  --font-size-caption: 12pt;
  --font-size-button: 14pt;
  --font-size-overline: 10pt;

  --font-weight-headline-5: normal;
  --font-weight-headline-6: 500;
  --font-weight-subtitle-1: normal;
  --font-weight-subtitle-2: 500;
  --font-weight-body-1: normal;
  --font-weight-body-2: normal;
  --font-weight-caption: normal;
  --font-weight-button: 500;
  --font-weight-overline: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  height: 100vh;
  width: 100%;
  max-width: 1980px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Hide the spin buttons in Chrome, Safari, Edge, and Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the spin buttons in Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
